<footer class="">
    <div class="container p-6 mx-auto">
        <div class="lg:flex">
            <div class="w-full -mx-6 lg:w-2/5">
                <div class="px-6">
                    <a href="">
                        <img class="w-auto h-7" src="" alt="">
                        <h1 class="text-3xl" style="font-family: Poppins;">AM Educon</h1>
                    </a>
                    <p class="max-w-sm mt-2 text-gray-500 dark:text-gray-400"></p>
                    <div class="flex mt-6 -mx-2">
                        <a href="https://www.facebook.com/"
                            class="mx-2 text-gray-600 text-xl transition-colors duration-300 hover:text-blue-500"
                            aria-label="Facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/"
                            class="mx-2 text-gray-600 text-xl transition-colors duration-300 hover:text-pink-500"
                            aria-label="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/"
                            class="mx-2 text-gray-600 text-xl transition-colors duration-300 hover:text-blue-700"
                            aria-label="LinkedIn">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mt-6 lg:mt-0 lg:flex-1">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">About</h3>
                        <a href="" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Category
                            1</a>
                        <a href="" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Category
                            2</a>
                        <a href="" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Category
                            3</a>
                    </div>
                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Blog</h3>
                        <a href="" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Category
                            1</a>
                        <a href="" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Category
                            2</a>
                        <a href="" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Category
                            3</a>
                    </div>
                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Contact</h3>
                        <span class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Phone
                            No.</span>
                        <span
                            class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">example@email.com
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="h-px my-6 bg-gray-200 border-none dark:bg-gray-700">
        <div>
            <!-- <p class="text-center text-gray-500 dark:text-gray-400">© Brand 2020 - All rights reserved</p> -->
        </div>
    </div>
</footer>