<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Company</title>
</head>

<body>
    <div class="w-full bg-center justify-center text-center bg-cover h-[40rem]"
        style="background-image: url('https://images.pexels.com/photos/6209803/pexels-photo-6209803.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
        <div style="padding-right: 75px;" class="flex items-center justify-center w-full h-full bg-gray-900/40">
            <div class="text-center items-center text-white justify-center" style="font-family: Poppins;">
                <h1 class="text-5xl font-medium mb-6" data-aos="fade-up" data-aos-duration="1300">Welcome to AM Educon
                </h1>
                <p class="text-xl text-center items-center lg:text-2xl mb-11" data-aos="fade-up"
                    data-aos-duration="1350" data-aos-delay="500">
                    We're in the
                    business of opening new, high-growth markets to partners across the globe. Through our
                    market-leading brands, we provide value through clearly-articulated internationalisation strategies
                    from concept to delivery, ensuring success and sustainability. </p>
                <a href="/about" class="bg-indigo-500 text-white py-4 px-10 rounded-full hover:bg-indigo-600">Demo</a>
            </div>
        </div>
    </div>
    <section class="py-24 flex items-center min-h-screen justify-center bg-white">
        <div class="mx-auto max-w-[43rem]">
            <div class="text-center">
                <p data-aos="zoom-in" data-aos-duration="1000" class="text-lg font-medium leading-8 text-blue-600/95">
                    Lorem ipsum dolor sit.
                </p>
                <h1 data-aos="zoom-in-left" data-aos-duration="1000" data-aos-delay="300"
                    class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black">We're in the know</h1>
                <p data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500"
                    class="mt-3 text-lg leading-relaxed text-slate-400">We
                    invest in insight across
                    markets and
                    industries, ensuring our team is at the forefront of local and global news, emerging trends, and
                    opportunities. We collect the data, process and understand what it means, and share it with the
                    world.
                </p>
            </div>
            <div class="mt-6 flex items-center justify-center gap-4">
                <a data-aos="zoom-in-right" data-aos-duration="1250" href="/about"
                    class="transform rounded-md bg-indigo-600/95 px-5 py-3 font-medium text-white transition-colors hover:bg-indigo-700">Get
                    started for free</a>
                <a data-aos="zoom-in-left" data-aos-duration="1250" data-aos-delay="300" href="/about"
                    class="transform rounded-md border border-slate-200 px-5 py-3 font-medium text-slate-900 transition-colors hover:bg-slate-50">
                    Request a demo
                </a>
            </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div data-aos="fade-right" data-aos-duration="1000"
                class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded"
                    src="https://images.pexels.com/photos/933964/pexels-photo-933964.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    style="border-radius: 15px;">
            </div>
            <div data-aos="fade-right"
                class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                <h1 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300"
                    class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Our Mission</h1>
                <ul style="list-style-type: disc;" class="lg:px-12">
                    <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">To create a happy working
                        place for the team</li>
                    <br>
                    <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">To provide global
                        universities and companies a transparent and accountable market entry model
                    </li>
                    <br>
                    <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700">To become a goal oriented
                        and sustainable choice for our clients</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <h1 data-aos="fade-right" data-aos-duration="1000"
                    class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Our Vision</h1>
                <ul style="list-style-type: disc;" class="lg:px-12">
                    <li data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">We are a young and dynamic
                        company with a dream to make a difference in the market entry space
                        for international education.</li>
                    <br>
                    <li data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">Our vision is to become the
                        world's most trusted growth partner to the best and most ambitious
                        educational institutions around the world.</li>
                </ul>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700"
                class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <img class="object-cover object-center rounded"
                    src="https://images.pexels.com/photos/6684506/pexels-photo-6684506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    style="border-radius: 15px;">
            </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div data-aos="fade-right" data-aos-duration="1000"
                class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded"
                    src="https://images.pexels.com/photos/5940837/pexels-photo-5940837.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    style="border-radius: 15px;">
            </div>
            <div
                class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                <h1 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300"
                    class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Our Values</h1>
                <ul style="list-style-type: disc;" class="lg:px-12">
                    <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">We believe in the highest
                        standards of integrity.</li>
                    <br>
                    <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">We believe in collective
                        growth</li>
                    <br>
                    <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700">We know the markets that we
                        are in, no jargons clear insights</li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>