<nav class="bg-white shadow-lg">
    <div class="md:flex items-center justify-between py-5 px-8 md:px-12">
        <div class="flex justify-between items-center">
            <div class="text-2xl text-gray-800 md:text-3xl" style="font-family: Poppins;">
                <a href="">AM Educon</a>
            </div>
            <div class="md:hidden" id="menuToggle">
                <button type="button"
                    class="block text-gray-800 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="mobile-menu hidden flex flex-col md:flex-row md:block mx-1 " id="sidebar">
            <a href="/" class="mr-5 hover:text-gray-400">Home</a>
            <a href="/about" class="mr-5 hover:text-gray-400">Our Company</a>
            <a href="#" class="mr-5 hover:text-gray-400">Services</a>
            <a href="#" class="mr-5 hover:text-gray-400">News</a>
            <a href="#" class="mr-5 hover:text-gray-400">Careers</a>
            <a href="/contact" class="mr-5 hover:text-gray-400">Contact Us</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>