<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMEducon</title>
</head>

<body>
    <div class="w-full bg-center bg-cover h-[38rem]"
        style="background-image: url('https://images.pexels.com/photos/3153207/pexels-photo-3153207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
        <div style="padding-right: 65px;" class="flex items-center justify-end w-full h-full bg-gray-900/40">
            <div class="text-end">
                <div data-aos="fade-right" data-aos-duration="2000">
                    <h1 class="text-5xl font-semibold text-white lg:text-6xl" style="padding-bottom: 15px">
                        The Most-Trusted<br>
                        Global Expansion Experts
                    </h1>
                </div>
                <div data-aos="fade-right" data-aos-duration="2000" data-aos-delay="300">
                    <button
                        class="w-full px-6 py-4 mt-4 text-sm font-medium text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500">Get
                        Started
                    </button>
                </div>
            </div>
        </div>
    </div>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div data-aos="fade-left" data-aos-duration="2000"
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">What we do...
                </h1>
                <p data-aos="fade-right" data-aos-delay="450" data-aos-duration="2000" class="mb-8 leading-relaxed">
                    Copper mug try-hard pitchfork pour-over freegan heirloom neutra air
                    plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken
                    authentic tumeric truffaut hexagon try-hard chambray.</p>
                <div class="flex justify-center">
                    <button
                        class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button
                        1</button>
                    <button
                        class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button
                        2</button>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="2000"
                class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <img class="object-cover object-center rounded" alt="" src="https://dummyimage.com/720x600"
                    style="border-radius: 20px;">
            </div>
        </div>
    </section>
    <section class="">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-12">
            <div class="mx-auto max-w-lg text-center text-black">
                <h1 class="text-3xl font-bold sm:text-4xl text-center headertext"
                    style=" font-family: poppins; font-weight: 600 ">Lorem Ipsum</h1>
                <p class="mt-4 text-black headersubtext text-center" style="font-family: poppins; font-weight: 500">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, consequuntur.</p>
            </div>
            <br />
            <div class=" mt-8 grid gap-8 lg:grid-cols-3 container">
                <a href="">
                    <div layout
                        class="scroll rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-white hover:shadow-blue-500/10">
                        <div class="text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <h2 layout="position" class="mt-4 text-xl font-bold text-black " style=" font-family: poppins ">
                            Lorem ipsum dolor sit amet.</h2>
                        <p style=" font-family: poppins " class="mt-1 text-sm text-black">Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Dolorum id qui, enim aut optio quae.</p>
                    </div>
                </a>
                <a href="">
                    <div layout
                        class="scroll rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-white hover:shadow-blue-500/10">
                        <div class="text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <h2 layout="position" class="mt-4 text-xl font-bold text-black " style=" font-family: poppins ">
                            Lorem ipsum dolor sit amet.</h2>
                        <p style=" font-family: poppins " class="mt-1 text-sm text-black">Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Dolorum id qui, enim aut optio quae.</p>
                    </div>
                </a>
                <a href="">
                    <div layout
                        class="scroll rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-white hover:shadow-blue-500/10">
                        <div class="text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <h2 layout="position" class="mt-4 text-xl font-bold text-black " style=" font-family: poppins ">
                            Lorem ipsum dolor sit amet.</h2>
                        <p style=" font-family: poppins " class="mt-1 text-sm text-black">Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Dolorum id qui, enim aut optio quae.</p>
                    </div>
                </a>
                <a href="">
                    <div layout
                        class="scroll rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-white hover:shadow-blue-500/10">
                        <div class="text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <h2 layout="position" class="mt-4 text-xl font-bold text-black " style=" font-family: poppins ">
                            Lorem ipsum dolor sit amet.</h2>
                        <p style=" font-family: poppins " class="mt-1 text-sm text-black">Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Dolorum id qui, enim aut optio quae.</p>
                    </div>
                </a>
                <a href="">
                    <div layout
                        class="scroll rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-white hover:shadow-blue-500/10">
                        <div class="text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <h2 layout="position" class="mt-4 text-xl font-bold text-black " style=" font-family: poppins ">
                            Lorem ipsum dolor sit amet.</h2>
                        <p style=" font-family: poppins " class="mt-1 text-sm text-black">Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Dolorum id qui, enim aut optio quae.</p>
                    </div>
                </a>
                <a href="">
                    <div layout
                        class="scroll rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-white hover:shadow-blue-500/10">
                        <div class="text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <h2 layout="position" class="mt-4 text-xl font-bold text-black " style=" font-family: poppins ">
                            Lorem ipsum dolor sit amet.</h2>
                        <p style=" font-family: poppins " class="mt-1 text-sm text-black">Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Dolorum id qui, enim aut optio quae.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>

</html>